@tailwind base;
@tailwind components;
@tailwind utilities;

.dark{
        --tw-bg-opacity: 1;
        background-color: rgb(245 245 245 / var(--tw-bg-opacity));
}

.light{
        background-color: rgb(96 165 250 / var(--tw-bg-opacity));
}

.transition1 {
        transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 150ms;
    }

    .duration1 {
        transition-duration: 300ms;
    }