@tailwind base;
@tailwind components;
@tailwind utilities;

.dark{
        --tw-bg-opacity: 1;
        background-color: rgb(245 245 245 / var(--tw-bg-opacity));
}

.light{
        background-color: rgb(96 165 250 / var(--tw-bg-opacity));
}